<a href="https://colab.research.google.com/github/KOO-96/2022-SuwonUniv_Dacon/blob/main/siksu/%5B2022_%EC%88%98%EC%9B%90%EB%8C%80%5D_Stage_1_%EA%B5%AC%EB%82%B4%EC%8B%9D%EB%8B%B9_%EC%8B%9D%EC%88%98_%EC%98%88%EC%B8%A1_1_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 실습환경 셋팅

In [3]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## EDA와 모델링에 사용할 데이터프레임 불러오기

In [4]:
df = pd.read_csv('/content/drive/MyDrive/와인/train.csv')
df

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,5492,5,7.7,0.150,0.29,1.3,0.029,10.0,64.0,0.99320,3.35,0.39,10.1,white
5493,5493,6,6.3,0.180,0.36,1.2,0.034,26.0,111.0,0.99074,3.16,0.51,11.0,white
5494,5494,7,7.8,0.150,0.34,1.1,0.035,31.0,93.0,0.99096,3.07,0.72,11.3,white
5495,5495,5,6.6,0.410,0.31,1.6,0.042,18.0,101.0,0.99195,3.13,0.41,10.5,white
5496,5496,6,7.0,0.350,0.17,1.1,0.049,7.0,119.0,0.99297,3.13,0.36,9.7,white

- 결과물 제출하는 방법
> 모델링에 앞서 submission파일의 quality를 임의의 값으로 채워 넣고 csv파일로 만들어서 제출

In [6]:
submission = pd.read_csv('/content/drive/MyDrive/와인/sample_submission.csv')
submission

     index  quality
0        0        0
1        1        0
2        2        0
3        3        0
4        4        0
..     ...      ...
995    995        0
996    996        0
997    997        0
998    998        0
999    999        0

[1000 rows x 2 columns]

In [ ]:
submission['quality'] = 1
submission

In [ ]:
submission.to_csv('submission.csv', index=False)

# 파이썬 기초

> 대화형 인터프리터

- 인터프리터 : 사용자가 입력한 코드를 실행하는 환경

- 대화형 : 입력에 따른 결과값이 바로 출력, 입력과 출력이 번갈아 이어지는게 마치 대화하는거 같아서 대화형 인터프리터라고 부름

## 기초 문법

### 사칙연산

In [7]:
1 + 2

3

In [8]:
24/3

8.0

In [9]:
3*8

24

- 변수 대입

In [10]:
a = 3
b = 8
a+b

11

In [11]:
a*b

24

In [12]:
b/a

2.6666666666666665

- 변수에 문자 대입하고 출력

In [ ]:
a = 'python'
print(a)

#### 조건문 if

In [13]:
a = 4
if a > 2:
  print('a는 2보다 크다')
else:
  print('a는 2보다 작거나 같다')

a는 2보다 크다

#### 반복문 for

In [14]:
for a in [1,2,3]:
  print(a)

1
2
3

#### 반복문 while

In [17]:
i = 0
while i < 3:
  i = i + 1
  print(i)

1
2
3

#### 함수

In [16]:
def add(a, b):
  return a+b

add(3, 4)

7

### 파이썬 자료형 
- ' ', " "로 사용

- 따옴표로 둘러싸인 건 다 문자열

>숫자  
>문자열  
>리스트  
>튜플  
>딕셔너리  
>집합  
>불

- 숫자 

정수 : 123, -456, 0

실수 : 123.45, -123.45, 3.4e10

8진수 : 0o34, 0o25

16진수 : 0x2A, 0xFF

- 숫자 연산자

사칙연산 ( + - * / )

제곱연산 ( ** )

나머지 연산 ( % )

몫 연산 ( // )

In [18]:
a = 'python'
type(a)

str

In [19]:
a = 123
type(a)

int

#### 문자열 연산
>더하기  
>곱하기  
>길이  
>인덱싱, 슬라이싱

In [23]:
a = 'hello'
b = 'world'

print(a+b)

helloworld hellohello

In [21]:
print(a*2)

hellohello

In [24]:
len(a)

5

In [25]:
a[0:2]

'he'

### 리스트

In [26]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

#### 리스트 연산
>더하기  
>곱하기  
>인덱싱과 슬라이싱

### 튜플
> 리스트랑 비슷하지만 수정이 불가능하다.

### 딕셔너리
> key와 value로 구성된 자료형

In [27]:
a = {1:'apple',
     2:'banana'}
a

{1: 'apple', 2: 'banana'}

In [28]:
a[1]

'apple'

In [30]:
a[1] = 'melon'
a[1]

'melon'

- 딕셔너리 함수
>keys  
>values  
>items

In [31]:
a.keys()

dict_keys([1, 2])

In [32]:
a.values()

dict_values(['melon', 'banana'])

In [33]:
a.items()

dict_items([(1, 'melon'), (2, 'banana')])

### 집합

> set : 중복X, 순서X

In [34]:
a = set('hello')
a

{'e', 'h', 'l', 'o'}

In [35]:
a = set([1,2,3,4,5,6])
b = set([2,4,6])
a

{1, 2, 3, 4, 5, 6}

- 집합연산
>교집합: &  
>합집합: |  
>차집합: -

### 불(bool)

- 불(bool)이란 참(True)과 거짓(False)을 나타내는 자료형이다. 불은 'True - 참', 'False - 거짓' 2가지 값만을 가질 수 있다.

In [36]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

- 불 조건문
>불 자료형은 조건문의 반환 값으로도 사용

In [37]:
1 == 1

True

In [38]:
2 < 1

False

>if문에서는 조건이 True 일 때 조건이 성립

In [40]:
if a: ##True
    print('참')

참

In [42]:
if b: ##False
    print('거짓')

#### 자료형의 참과 거짓
>문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓

In [43]:
bool([])

False

In [44]:
bool(['123'])

True

# 연습문제1

> 주어진 딕셔너리에 다음과 같은 지시를 따르시오

In [46]:
students = {'이지은':100,
     '강동원':95,
     '송강호':90,
     '배두나':85,
     '이주영':95}
     
print("1번 :", list(students.values()))
print("2번 :", set(students.values()))

1번 : [100, 95, 90, 85, 95]
2번 : {90, 100, 85, 95}

이지은 학생의 점수를 문자열 'A+'으로 바꾸시오.
items() 함수를 이용하여 딕셔너리를 확인하시오

In [47]:
students['이지은'] = 'A+'
students.items()

dict_items([('이지은', 'A+'), ('강동원', 95), ('송강호', 90), ('배두나', 85), ('이주영', 95)])

## 파이썬 제어문

### if문

In [48]:
a = 10
if a > 5:
  print('a는 5보다 크다')
else :
  print('a는 5보다 작거나 같다')

a는 5보다 크다

### elif문

In [49]:
a = 10
if a > 10:
    print('a는 10보다 크다')
elif a > 5:
    print('a는 5보다 크다')
else :
    print('a는 5보다 작거나 같다')

a는 5보다 크다

### while문

In [50]:
i = 0

while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

>break

- while문 강제로 빠져나가기

In [53]:
i = 0

while i < 10:
  print(i)
  i = i + 1
  if i == 5:
    break

0
1
2
3
4

### for 문

In [52]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

> continue

- for문 안의 문장을 수행하는 도중에 continue문을 만나면 아래 문장 실행 안함

In [54]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

### 리스트 컴프리헨션
>기존에 배운 문법으로 0부터 9까지 정수를 순서대로 가지고 있는 리스트를 생성하는 코드

In [55]:
numbers = []
for i in range(10):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

> 컴프리헨션으로 표기

In [56]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [59]:
[(x, y) for x in ['엽떡', '배떡', '죠떡'] for y in ['허니콤보', '통모짜핫도그']]

[('엽떡', '허니콤보'),
 ('엽떡', '통모짜핫도그'),
 ('배떡', '허니콤보'),
 ('배떡', '통모짜핫도그'),
 ('죠떡', '허니콤보'),
 ('죠떡', '통모짜핫도그')]

## 함수

In [ ]:
ages = ['10대', '20대', '30대', '40대']

def change_ages(text:str):
  return text[:2]

change_ages(ages[0])

### 내장함수

- int  
int형(정수형)으로 바꿔줌

In [65]:
ages = ['10대', '20대', '30대', '40대']

def change_ages(text:str):
  return int(text[:2])

change_ages(ages[0])

10

- len  
길이 반환

In [64]:
len(ages)

4

- range  
특정 범위의 정수 배열 반환

In [66]:
range(10)

range(0, 10)

- list  
list형으로 변환

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- map  
리스트에 커스텀함수 매칭

In [68]:
list(map(change_ages, ages))

[10, 20, 30, 40]

- sum  
합계 반환

In [69]:
sum(list(map(change_ages, ages)))

100

- max  
최댓값 반환

In [70]:
max(list(map(change_ages, ages)))

40

- min  
최솟값 반환

In [71]:
min(list(map(change_ages, ages)))

10

- str  
문자열로 변환

In [72]:
str(min(list(map(change_ages, ages))))

'10'

- type  
변수 유형 반환

In [73]:
type(str(min(list(map(change_ages, ages)))))

str

# 연습문제2

## 문제 1
>fruit_list를 생성하여 다음과 같은 지시를 따르시오.

1) 반복문을 사용하여 과일 이름을 key로 과일의 순서를 value로 갖는 fruit_dict를 생성하시오.

In [74]:
fruit_list = ['오렌지', '사과', '딸기', '배', '수박']

fruit_dict = {}
for i in range(len(fruit_list)):
  fruit_dict[fruit_list[i]] = i

fruit_dict

{'오렌지': 0, '사과': 1, '딸기': 2, '배': 3, '수박': 4}

##문제2. 
>fruit_dict를 사용하여 다음의 지시를 따라 fruit_list를 수정하시오.

1) map 함수를 사용하여 fruit_list의 과일이름을 fruit_dict의 숫자로 바꾸시오.

In [75]:
def change_list(text:str):
  return fruit_dict[text]

fruit_list = list(map(change_list, fruit_list))

fruit_list

[0, 1, 2, 3, 4]

## 문제3. 
>숫자를 과일로 다시 뒤집기

In [76]:
fruit_dict = {value:key for key, value in fruit_dict.items()}

fruit_list = list(map(change_list, fruit_list))
fruit_list

['오렌지', '사과', '딸기', '배', '수박']