<a href="https://colab.research.google.com/github/KOO-96/2022-SuwonUniv_Dacon/blob/main/siksu/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B3%BC%EC%A0%9C1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제1

-임의의 자연수 x가 주어질 때, x가 홀수인지 짝수인지 판별하는 함수작성

In [ ]:
def func(x):
  if x%2 == 0:
    print('짝수')
  else:
    print('홀수')

In [ ]:
func(10)

짝수

In [ ]:
func(11)

홀수

# 문제2

### 없는 숫자 더하기
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다.
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return하도록 func함수 완성하기.

In [ ]:
def func(x):
  num = list(range(10))
  return sum(num) - sum(x)

In [ ]:
func([1,2,3,4,6,7,8,0])

14

In [ ]:
func([5,8,4,0,6,7,9])

6

#문제3

###콜라츠 추측
- 입력된 수가 짝수라면 2로 나눕니다.
- 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
- 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 1이 될 때까지 작업 실행 횟수 반환
- 단, 주어진 수가 1인 경우에는 0을,
  작업을 500번 반복할 때까지 1이 되지 않는다면 -1을 반환한다.

In [ ]:
def func(x):
    for i in range(501):
      if x%2 == 0:
        x = x / 2
      else:
        x = (x * 3) + 1
      if x == 1:
        return i + 1
    return -1

In [ ]:
func(6)

8

In [ ]:
func(16)

4

In [ ]:
func(626331)

-1

#문제4

### 하샤드 수
- 양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.
예를들어 18의 자릿수 합은 1+8 = 9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.
자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [ ]:
def func(x):
  split = list(map(int, str(x)))
  if (x&sum(split)) == 0:
    return True
  else:
    return False

In [ ]:
func(10)

True

In [ ]:
func(11)

False

In [ ]:
func(12)

True

In [ ]:
func(13)

False